<div class="chart-card row">
	<div class="col-md-6">
		<h3>{{title}}</h3>
		<hr/>
		<p>You are </p>
		<h2>{{total_percentage}}</h2>
		<p>likely to commit</p>
		<h2>{{long_title}}</h2>
		<p>In your district, your age bracket {{rate_pre}} <strong>{{rate_of_crime}}</strong> likely to commit this crime.</p><!-- <strong>{{gender}}s</strong> aged <strong>{{age}}</strong> are most likely to commit this crime.</p> -->
	</div>
	<div class="col-md-6">
		<div id="crime_sheep_data_your_age_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>
</div>